.namenav {
  color: #235bae;
  font-family: 'Sour Gummy', sans-serif;
  font-size: 34px;
  font-weight: bold;
}

nav {
  background-color: transparent;
  overflow: hidden;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

nav li:first-child {
  margin-right: auto;
}

.aboutme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
}

#particlesjs {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: transparent;
}

header, main, footer {
  position: relative;
  z-index: 1;
}

.aboutmetext {
  font-family: 'Sour Gummy', sans-serif;
  font-size: 18px;
}

.aboutmetext h1 {
  color:#21a5f7
}
.aboutmetext h3 {
  color:#007bff
}

.text-container {
  color: #093056;
  font-family: 'Sour Gummy', sans-serif;
  font-size: 20px;
}

 body {
    background-color: #f5f5f5;
    color: rgb(63, 59, 59);
  }

.linkedin i {
  color: #0077B5;
}

.github i {
  color: #000000;
}

.whatsapp i {
  color: #25D366;
}

.playstation i {
  color: #003791;
}

.discord i {
  color: #7289DA;
}

a i:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-top: 1px solid #ddd;
  margin-top: auto;
}

footer .socialmedia {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

footer .socialmedia p {
  margin-right: 20px;
  font-size: 16px;
}

footer .socialmedia a {
  margin: 0 10px;
  color: #333;
  text-decoration: none;
}

footer .email, footer .phone {
  display: flex;
  align-items: center;
  color: rgb(24, 20, 20);
}

footer .email i, footer .phone i {
  margin-right: 10px;
}

footer a {
  color: #333;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .socialmedia p {
  color: #235bae;
  font-family: 'Sour Gummy', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

footer .email a {
  color: #235bae;
  font-family: 'Sour Gummy', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

footer .email i:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
  }

footer .phone a {
  color: #235bae;
  font-family: 'Sour Gummy', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

footer .copyright p {
  margin-top: auto;
  font-size: 18px;
  color: #100e0e;
  margin: 0;
}

footer .copyright {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  font-family: 'Sour Gummy', sans-serif;
}

.imageleft {
  max-width: 250px;
  height: auto;
}

.imageright {
  height: auto;
  transform: scale(0.8);
}

section {
  padding: 60px 20px;
  margin: 0 auto;
  max-width: 1100px;
}

#projects {
  background-color: #fff;
  text-align: center;
  padding: 40px 20px;
}

#projects .projectgallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.project {
  background-color: #f4f4f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  max-width: 300px;
}

.project img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project .githublink {
  text-decoration: none;
  color: #222222;
  font-weight: bold;
  display: inline-block;
  margin-top: 5px;
  transition: color 0.3s ease;
}

.project .githublink:hover {
  color: #e31e1e;
}

html {
  scroll-behavior: smooth;
}

.icons {
  display: flex;
  gap: 20px;
  font-size: 50px;
  justify-content: center;
  margin-top: 20px;
}

#skills {
  text-align: center;
  padding: 50px;
  font-family: 'Sour Gummy', sans-serif;
  font-size: 1.5em;
}

.skillscontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

.skill {
  width: 60px;
  height: 60px;
  transition: box-shadow 0.3s ease;
}

.skill p {
  font-size: 14px;
  font-weight: 500;
  margin-top: 8px;
}

.skill img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  transition: transform 0.2s ease-in-out;
}

.skill:hover img {
  transform: rotate(15deg);
}

.downloadbutton {
  font-family: 'Sour Gummy', sans-serif;
  background-color: #3165b2;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.downloadbutton:hover {
  background-color: #34419e;
  transform: scale(1.05);
}

#projects {
  padding: 4rem 2rem;
  background-color: #f4f4f4;
  text-align: center;
  font-family: 'Sour Gummy', sans-serif;
}

#projects h2 {
  font-size: 2.5rem;
  color: #262525;
  font-family: 'Sour Gummy', sans-serif;
}

#projects p {
  font-size: 1.2rem;
  color: #555;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
}

.projectgallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-items: center;
}

.project {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  height: 400px;
}

.project:hover {
  transform: translateY(-5px);
}

.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.projectinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 200px;
  text-align: center;
}

.projectinfo h3 {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.projectinfo p {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: #555;
}

.githublink {
  padding: 0.5rem 1rem;
  background-color: #e8e1e1;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-family: 'Sour Gummy', sans-serif;
}

.githublink:hover {
  background-color: #e8e1e1;
}

.skillsnav {
  font-family: 'Sour Gummy', sans-serif;
}

.projectsnav {
  font-family: 'Sour Gummy', sans-serif;
}

.contactnav {
  font-family: 'Sour Gummy', sans-serif;
}

#certifications {
  text-align: center;
  padding: 50px;
  font-family: 'Sour Gummy', sans-serif;
}

#certifications h2 {
  font-size: 2.5rem;
  color: #333;
}

#certifications p {
  font-size: 1.2rem;
  color: #666;
}

.certificationscontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
  justify-content: space-evenly;
}

.certificationsection {
  display: flex;
  align-items: center;
  gap: 10px;
}

.certificationcontent {
  text-align: center;
}

.certificationcontent i {
  transition: color 0.3s ease, transform 0.3s ease;
}

.certificationcontent p {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #666;
  transition: color 0.3s ease, transform 0.3s ease;
}

button:hover {
  color: #007bff;
  transform: scale(1.2);
}

.certificationcontent i {
  transition: transform 0.3s ease-in-out;
}

.certificationcontent i:hover {
  transform: translateY(-10px);
}

.certificatenav {
  font-family: 'Sour Gummy', sans-serif;
}

#ciscoicon {
  color: rgb(52, 122, 212);
}

#particlesabout,
#particlesskills,
#particlescertifications,
#particlesfooter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

section {
  position: relative;
}

.intro-section {
  margin-top: -10rem;
  margin-bottom: 4rem;
}

.intro-section p {
  font-size: 1.5rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.intro-section h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #333;
}

.intro-section h2 {
  font-size: 2rem;
  color: #333;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
}

#Charizard {
  cursor: pointer;
  margin-left: 20px;
  position: relative;
}

.text {
  display: inline-block;
}

#contactme {
  text-align: center;
  padding: 50px;
  font-family: 'Sour Gummy', sans-serif;
  font-size: 1.5rem;
}

.container {
  display: flex;
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  width: 100%;
  top: 50%;
  left: 50%;
}

.left-section {
  flex: 1;
  padding-right: 20px;
  margin-top: 100px;
}

.left-section h2 {
  font-size: 24px;
  color: #222;
  margin-bottom: 10px;
}

.left-section p {
  font-size: 16px;
  color: #666;
}

.email-text a {
  color: #6c5ce7;
  font-weight: bold;
  text-decoration: none;
}

.right-section {
  flex: 2;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: left;
}

.right-section h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  resize: none;
  border: 3px solid #ccc;
}

.custom-send-button {
  font-family: 'Sour Gummy', sans-serif;
  background-color: #3165b2;
  color: white;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  width: 300px;
}

.custom-send-button:hover {
  background-color: #34419e;
  transform: scale(1.05);
}

@keyframes pushTextLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}

.moved {
  animation: pushTextLeft 1s ease-in-out;
}

@media (max-width: 768px) {
  .intro-text {
      margin-top: -8rem;
  }
  
  .intro-text h1 {
      font-size: 2.5rem;
  }
  
  .intro-text h2 {
      font-size: 1.4rem;
  }
  
  .intro-text p {
      font-size: 1.2rem;
  }
}


/* Tablet en Ipads */
@media screen and (max-width: 1024px) and (min-width: 768px) {
  nav ul {
    justify-content: center;
  }

  .aboutme {
    flex-direction: column;
    text-align: center;
  }

  .imageleft {
    max-width: 200px;
    transform: scale(0.8);
  }

  .imageright {
    max-width: 150px;
    transform: scale(0.6);
  }

  .skillscontainer {
    grid-template-columns: repeat(3, 1fr);
  }

  .certificationscontainer {
    flex-direction: column;
    gap: 15px;
  }

  section {
    padding: 40px 10px;
  }

  #projects .projectgallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .project {
    height: 350px;
  }
}

/* Telefoon*/
@media screen and (max-width: 767px) {
  nav {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  .namenav {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
  }

  nav li {
    float: none;
    margin: 10px 0;
  }

  .aboutme {
    flex-direction: column;
    text-align: center;
  }

  .imageright {
    max-width: 150px;
    transform: scale(0.4);
  }

  .imageleft {
    max-width: 150px;
    transform: scale(0.6);
  }

  .aboutmetext {
    font-size: 16px;
    padding: 0 15px;
  }

  .skillscontainer {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  .skill {
    width: 50px;
    height: 50px;
  }

  #projects .projectgallery {
    grid-template-columns: 1fr;
  }

  .project {
    max-width: 100%;
    height: auto;
  }

  .certificationscontainer {
    flex-direction: column;
    gap: 15px;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  footer .socialmedia {
    flex-direction: column;
    align-items: center;
  }

  footer .socialmedia a {
    margin: 10px 0;
  }

  footer .copyright {
    position: static;
    transform: none;
    margin-top: 15px;
  }

  section {
    padding: 30px 10px;
  }

  #projects h2 {
    font-size: 2rem;
  }

  #certifications h2 {
    font-size: 2rem;
  }
}

/* Telefoon klein*/
@media screen and (max-width: 375px) {
  .namenav {
    font-size: 20px;
  }

  .skillscontainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .aboutmetext {
    font-size: 14px;
  }

  #projects h2, #certifications h2 {
    font-size: 1.5rem;
  }

  .imageleft {
    max-width: 150px;
    transform: scale(0.6);
  }

  .imageright {
  max-width: 150px;
  transform: scale(0.4);
}
}

#totodile {
  transition: transform 0.5s ease;
  cursor: pointer;
}

#totodile.animate {
  transform: translateX(100px);
}

#wrf {
  transition: transform 0.5s ease;
  cursor: pointer;
}

#wrf.animate {
  transform: translateY(-50px);
}

.namenav img {
  vertical-align: middle;
}
